.card {
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
  padding: 15px;
  padding-top: 40px;
  box-shadow: 0px 0px 18px 2px rgba(54, 54, 54, 0.75);
  max-width: 650px;
  margin: 40px auto;
}

.card:hover {
  box-shadow: 0px 0px 18px 2px rgba(125, 125, 125, 0.75);
}

img {
  object-fit: contain;
}
